#titulo {

    color: blue;
    background-color: orange;
    text-align: center;
    border-style: solid;
    border-color: black;
    
    
}

table{
    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#botones{

    align-self: center;
    display: flex;
    margin: auto;
}

button{

    background-color: brown;
    color:white;
    margin-right: 70px;
    
}
html{

    margin: 10%;
}
